<div class = 'container'>
<div class ="jumbotron center">
     <h1>Welcome to Pete's Meat!</h1>
     <% if user_signed_in? %>
     Thank you for supporting Pete's Meat. As Pete's Meat continous to grow more information will be added
     <% else %>

     <p>
       <%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
       <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
  </p>   
  <%end %>
</div